.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header"
    "Navbar Navbar Navbar"
    "Column1 Column2 Column3"
    "Column1 Column2 Column3";
}
.Header { grid-area: Header; }
.Navbar { grid-area: Navbar; }
.Column1 { grid-area: Column1; }
.Column2 { grid-area: Column2; }
.Column3 { grid-area: Column3; }

.Header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 40px;
}

.Navbar {
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

.Navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.Navbar a:hover {
    background-color: #ddd;
    color:black;
    height: 50px;
}

.Column1 {
  padding-left: 40px;
}

.Column2 {
  padding-left: 40px;
}
.Column3 {
  padding-left: 40px;
}