:root {
  --main-bg-color: grey;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100px 100px 28.4% 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header"
    "Navbar Navbar Navbar"
    "Column1 Column2 Column3"
    "Column1 Column2 Column3";

}
.Header { grid-area: Header; }
.Navbar { grid-area: Navbar; }
.Column1 { grid-area: Column1; }
.Column2 { grid-area: Column2; }
.Column3 { grid-area: Column3; }

div.background {
  background-color: var(--main-bg-color);
  height: 970px;
}

.Header {
    text-align: center;
    padding: 20px;
    height: 40px;
    font-family: Arial;
    font-size: 24px;
}

.Navbar {
    overflow: hidden;
    background-color: #333;
    height: 50px;
}
.Navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    padding: 14px 16px;
}

.Navbar a:hover {
    background-color: #ddd;
    color:black;
    height: 50px;
}

.Column1 {
  padding-left: 10px;
}

.Column2 {
  padding-left: 30px; 
  padding-right: 10px;
}
.Column3 {
  padding-left: 60px;
}

table, tr, td {
    border: 2px solid black;
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table { grid-area: table; 
  width: 100%;
  padding-top: 200px;
  padding-right: 30px;
  border-collapse: collapse;
}

div.background {
  width:100%;
  height:100%;
  background-color: var(--main-bg-color);

}

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Picture1 Header1 Header1 Header1 Header1 Transformation3D Transformation3D"
    "Navbar1 Navbar1 Navbar1 Navbar1 Navbar1 Transformation3D Transformation3D"
    "Transform2D Transform2D Scale Scale Rotate Rotate ."
    "Transform2D Transform2D Scale Scale Rotate Rotate .";
}
.Navbar1 { grid-area: Navbar1; }
.Header1 { grid-area: Header1; }
.Picture1 { grid-area: Picture1; }
.Transform2D { grid-area: Transform2D; }
.Scale { grid-area: Scale; }
.Rotate { grid-area: Rotate; }
.Transformation3D { grid-area: Transformation3D; }

.Navbar1 {
  overflow: hidden;
  background-color: #333;
  height: 39%;
  width: auto;
}
.Navbar1 a{
  float: left;
  display: block;
  color:var(--white);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  padding: 14px 16px;
}

.Navbar1 a:hover {
  background-color: #ddd;
}

.Header1 {
  text-align: center;
  padding: 50px;
  padding-left: 50px;
  height: 40%;
  font-family: Arial;
  font-size: 24px;
}
.Picture1 {
  padding: 10px;
}

.Logo {
  padding: 10px;
  float: left;
  display: block;
}

.Transform2D {
  padding-left: 20px;
  width: 50%;
  height: 50%;
  background-color: darkgoldenrod;
  border: 1px solid black;
  transform: translate(50px, 100px);
}

.Scale {
  padding-left: 20px;
  width: 50%;
  height: 50%;
  background-color: darkgoldenrod;
  border: 1px solid black;
  transform: scale(2,3);
}

.Rotate {
  width: 100%;
  height: 50%;
  background-color: darkgoldenrod;
  border: 1px solid black;
  transform: rotate(35deg);
}

.Transformation3D {

  width: 50%;
  height: 50%;
  background-color: darkgoldenrod;
  border: 1px solid black;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes example {
  0%   {background-color:darkgoldenrod; left:0px; top:0px;}
  25%  {background-color:darkcyan; left:200px; top:0px;}
  50%  {background-color:darkblue; left:200px; top:200px;}
  75%  {background-color:darkgreen; left:0px; top:200px;}
  100% {background-color:darkred; left:0px; top:0px;}
}

.Transformation3D:hover {
  width: 200px;
  height: 200px;
  transition: width 2s, height 4s
}

.grid-container2 {
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 200px 100px 28.4% 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header2 Header2 Header2 Header2 Header2 Header2"
    "Navbar Navbar Navbar Navbar Navbar Navbar"
    "Information Information Information Information Information Information"
    "CodeSnippet CodeSnippet CodeSnippet1 CodeSnippet1 CodeSnippet2 CodeSnippet2"
    "CodeSnippet CodeSnippet CodeSnippet1 CodeSnippet1 CodeSnippet2 CodeSnippet2";
}

.Header2 { grid-area: Header2; }

.Navbar2 { grid-area: Navbar; }

.Information { grid-area: Information; }

.CodeSnippet { grid-area: CodeSnippet; }

.CodeSnippet1 { grid-area: CodeSnippet1; }

.CodeSnippet2 { grid-area: CodeSnippet2; }

.Header2 {
  text-align: center;
  padding: 50px;
  padding-left: 50px;
  height: 40px;
  font-family: Arial;
  font-size: 24px;
}

.Navbar2 {
  overflow: hidden;
  background-color: #333;
  height: 50px;
  width: auto;
}

.Navbar2 a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  padding: 14px 16px;
}

.Navbar2 a:hover {
  background-color: #ddd;
  color:black;
  height: 50px;
}
